<div class="search-box input-group">
  <label for="search-term" class="form-control">Search flavors</label>
  <input id="search-term" class="form-control" type="text" name="name" value="">
</div>

<div id="search-results-container" class=""></div>
